.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    border: dashed 1px;
    border-radius: 100%;
    border-color: white;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(14em); } /* 14em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(14em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(14em) rotate(-135deg); }
.deg180 { transform: translate(-14em); }
.deg225 { transform: rotate(225deg) translate(14em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(14em) rotate(-315deg); }